//Spacing and Fonts

$base_spacing: 15px;
$base_font_size: 5px;
$thin_font: 100;
$light_font: 300;
$regular_font: 400;
$bold_font: 700;

//Color Palette

$primary_color: #0480F6;
$background_color: white;
;